
@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-container{
    display:flex;
    flex-wrap:wrap;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    background-color:#f0f0f0;
    margin:20px;
}
/* index.css or App.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
